{% extends 'login.html' %}
{% block form %}
    <form action="{% url 'olvido_contrasenia' %}" method="POST" class="needs-validation was-validated">
        {% csrf_token %}
        <div class="form-group">
            <input type="number" required class="form-control" name="username"
                   placeholder="Ingrese su número de Cédula">
        </div>
        <button type="submit" class="btn btn-facebook btn-red-dark btn-pill text-uppercase" style="width: 100%">
            Actualizar Contraseña
        </button>
        <div class="form-divider"></div>

        <a href="{% url 'login' %}" class="btn btn-facebook btn-red-dark btn-pill text-uppercase"><i
                class="fa fa-users"></i> Iniciar Sesión</a>
    </form>
{% endblock %}
{% block script %}
    <script>
        {% if messages %}
            {% for message in messages %}
                if ('{{ message.tags }}' == 'error' && '{{ message}}'=='no') {
                    Swal.fire({
                        title: 'Ingrese su correo electrónico',
                        input: 'email',
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Registrar Email',
                        showLoaderOnConfirm: true,
                        preConfirm: (email) => {
                            return fetch(`/forget_password?email=${email}`)
                                .then(response => {
                                    console.log(response)
                                })
                                .catch(error => {
                                    Swal.showValidationMessage(
                                        `Request failed: ${error}`
                                    )
                                })
                        },
                        allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                icon: 'success',
                                text: `Los pasos para la activación se enviarón a su correo electrónico registrado..!"`,
                            })
                        }
                    })
                } else {
                    Swal.fire({
                        icon: '{{ message.tags }}',
                        title: 'Mensaje',
                        text: '{{ message }}',
                        footer: '<a href="{% url 'login' %}"> <i class="fa fa-users"> Iniciar Sesión</a>'
                    })
                }
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}
